.loader {
  color: var(--theme-color);
  fill: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  svg {
    height: 10rem !important;
    width: 10rem !important;
  }
}
